In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('demo.csv')

In [3]:
data.head()

,Unnamed: 0,STATE_UT_NAME,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,flood,Avg_june10days,maytojune
0,0,ANDAMAN And NICOBAR ISLANDS,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,...,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1,0,98.500000,63.0
1,1,ANDAMAN And NICOBAR ISLANDS,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,...,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3,0,152.400000,82.8
2,2,ANDAMAN And NICOBAR ISLANDS,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,...,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7,0,167.766667,159.7
3,3,ARUNACHAL PRADESH,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,...,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0,0,149.000000,140.6
4,4,ARUNACHAL PRADESH,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,...,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1,1,246.100000,415.3

In [4]:
data.shape

(641, 22)

In [5]:
df = data.dropna()

In [6]:
df.head()

,Unnamed: 0,STATE_UT_NAME,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,flood,Avg_june10days,maytojune
0,0,ANDAMAN And NICOBAR ISLANDS,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,...,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1,0,98.500000,63.0
1,1,ANDAMAN And NICOBAR ISLANDS,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,...,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3,0,152.400000,82.8
2,2,ANDAMAN And NICOBAR ISLANDS,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,...,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7,0,167.766667,159.7
3,3,ARUNACHAL PRADESH,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,...,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0,0,149.000000,140.6
4,4,ARUNACHAL PRADESH,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,...,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1,1,246.100000,415.3

In [7]:
df.shape

(641, 22)

In [8]:
df.columns

Index(['Unnamed: 0', 'STATE_UT_NAME', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
       'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb',
       'Mar-May', 'Jun-Sep', 'Oct-Dec', 'flood', 'Avg_june10days',
       'maytojune'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 641 entries, 0 to 640
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      641 non-null    int64
 1   STATE_UT_NAME   641 non-null    object
 2   JAN             641 non-null    float64
 3   FEB             641 non-null    float64
 4   MAR             641 non-null    float64
 5   APR             641 non-null    float64
 6   MAY             641 non-null    float64
 7   JUN             641 non-null    float64
 8   JUL             641 non-null    float64
 9   AUG             641 non-null    float64
 10  SEP             641 non-null    float64
 11  OCT             641 non-null    float64
 12  NOV             641 non-null    float64
 13  DEC             641 non-null    float64
 14  ANNUAL          641 non-null    float64
 15  Jan-Feb         641 non-null    float64
 16  Mar-May         641 non-null    float64
 17  Jun-Sep         641 non-null    float64
 18  Oct-Dec         641 non-null    float64
 19  flood           641 non-null    int64
 20  Avg_june10days  641 non-null    float64
 21  maytojune       641 non-null    float64
dtypes: float64(19), int64(2), object(1)
memory usage: 115.2+ KB

In [10]:
df.describe()

,Unnamed: 0,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,flood,Avg_june10days,maytojune
count,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,...,641.000000,641.000000,641.000000,641.000000,641.000000,641.00000,641.000000,641.000000,641.000000,641.000000
mean,320.000000,18.355070,20.984399,30.034789,45.543214,81.535101,196.007332,326.033697,291.152262,194.609048,...,34.117473,18.150858,1346.969579,39.339470,157.113105,1007.80234,142.714665,0.586583,65.335777,119.746490
std,185.185043,21.082806,27.729596,45.451082,71.556279,111.960390,196.556284,221.364643,152.647325,99.830540,...,59.371274,32.711009,838.878874,47.212773,213.445888,629.33261,148.951752,0.492831,65.518761,123.879889
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.900000,3.800000,11.600000,14.100000,8.600000,...,1.200000,0.000000,94.600000,0.000000,1.500000,39.60000,5.600000,0.000000,1.266667,0.400000
25%,160.000000,6.900000,7.000000,7.000000,5.000000,12.100000,68.800000,206.400000,194.600000,128.800000,...,6.600000,5.300000,830.400000,14.700000,27.800000,625.40000,51.600000,0.000000,22.933333,45.900000
50%,320.000000,13.300000,12.300000,12.700000,15.100000,33.900000,131.900000,293.700000,284.800000,181.300000,...,12.900000,7.900000,1116.200000,27.700000,67.200000,896.60000,86.700000,1.000000,43.966667,99.700000
75%,480.000000,19.200000,24.100000,33.200000,48.300000,91.900000,226.600000,374.800000,358.100000,234.100000,...,32.300000,14.900000,1530.900000,41.100000,172.400000,1193.80000,175.200000,1.000000,75.533333,145.400000
max,640.000000,144.500000,229.600000,367.900000,554.400000,733.700000,1476.200000,1820.900000,1522.100000,826.300000,...,475.100000,297.700000,7229.300000,335.300000,1256.500000,5228.00000,1048.500000,1.000000,492.066667,887.200000

In [11]:
df.isnull()

,Unnamed: 0,STATE_UT_NAME,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,flood,Avg_june10days,maytojune
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
637,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
639,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
640,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Unnamed: 0        0
STATE_UT_NAME     0
JAN               0
FEB               0
MAR               0
APR               0
MAY               0
JUN               0
JUL               0
AUG               0
SEP               0
OCT               0
NOV               0
DEC               0
ANNUAL            0
Jan-Feb           0
Mar-May           0
Jun-Sep           0
Oct-Dec           0
flood             0
Avg_june10days    0
maytojune         0
dtype: int64

In [13]:
df.STATE_UT_NAME.unique()

array(['ANDAMAN And NICOBAR ISLANDS', 'ARUNACHAL PRADESH', 'ASSAM',
       'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND', 'TRIPURA',
       'WEST BENGAL', 'SIKKIM', 'ORISSA', 'JHARKHAND', 'BIHAR',
       'UTTAR PRADESH', 'UTTARANCHAL', 'HARYANA', 'CHANDIGARH', 'DELHI',
       'PUNJAB', 'HIMACHAL', 'JAMMU AND KASHMIR', 'RAJASTHAN',
       'MADHYA PRADESH', 'GUJARAT', 'DADAR NAGAR HAVELI', 'DAMAN AND DUI',
       'MAHARASHTRA', 'GOA', 'CHATISGARH', 'ANDHRA PRADESH', 'TAMIL NADU',
       'PONDICHERRY', 'KARNATAKA', 'KERALA', 'LAKSHADWEEP'], dtype=object)

In [14]:
df.columns

Index(['Unnamed: 0', 'STATE_UT_NAME', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
       'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb',
       'Mar-May', 'Jun-Sep', 'Oct-Dec', 'flood', 'Avg_june10days',
       'maytojune'],
      dtype='object')

In [15]:
df.flood.unique()

array([0, 1], dtype=int64)

In [16]:
df.JAN.unique().mean()

25.151495016611292

In [17]:
df.FEB.unique().mean()

29.09223300970874

In [18]:
df.ANNUAL.unique().min()

94.6

In [19]:
df.ANNUAL.unique().max()

7229.3

In [20]:
df.ANNUAL.unique().mean()

1324.6199661590522

In [21]:
df.Avg_june10days.unique()

array([ 98.5       , 152.4       , 167.7666667 , 149.        ,
       246.1       ,  76.13333333, 204.9       , 124.7333333 ,
       175.4       , 213.5       ,  94.7       , 267.3       ,
       138.8666667 , 221.7666667 , 115.2333333 ,  97.56666667,
       177.3666667 , 139.9       , 189.2666667 , 121.8333333 ,
       176.1       , 109.3666667 ,  95.3       ,  85.16666667,
       231.4333333 , 201.        , 133.6666667 ,  96.26666667,
       215.0666667 , 274.0666667 , 121.0333333 ,  84.73333333,
       129.4333333 , 156.8       ,  74.96666667, 208.7666667 ,
       103.3666667 , 183.7333333 , 492.0666667 , 438.7       ,
       177.0333333 , 113.5       , 164.2       , 217.1666667 ,
       123.5666667 , 122.7333333 , 386.2333333 , 203.3       ,
       116.1       , 111.        , 145.2       , 112.4333333 ,
       140.7       , 155.9       , 116.8333333 , 145.8666667 ,
       153.1333333 , 145.7333333 , 128.2666667 , 131.9666667 ,
       102.7333333 , 116.7666667 , 175.1666667 ,  68.26666667,
       138.7666667 ,  90.36666667, 159.1666667 , 158.3       ,
       142.2       , 160.9       , 222.9333333 , 178.2333333 ,
       222.4333333 ,  72.2       ,  96.43333333, 105.3333333 ,
       167.6666667 , 154.8666667 ,  71.66666667,  74.1       ,
        66.06666667,  81.13333333,  77.73333333,  74.03333333,
        79.2       ,  78.03333333,  90.63333333,  84.5       ,
        81.26666667,  92.76666667,  86.36666667,  66.83333333,
        66.56666667,  75.73333333,  75.36666667,  52.93333333,
        79.16666667,  77.63333333,  66.93333333,  93.23333333,
        56.3       ,  75.53333333,  72.3       ,  72.8       ,
        83.33333333,  68.6       ,  60.96666667,  68.96666667,
        80.53333333,  71.13333333,  62.13333333,  62.8       ,
        74.86666667,  57.73333333,  67.23333333,  79.06666667,
        59.4       ,  62.86666667,  66.96666667,  67.66666667,
        58.96666667,  46.76666667,  72.46666667,  86.1       ,
        69.33333333,  57.43333333,  68.83333333,  56.9       ,
        76.33333333,  62.16666667,  52.56666667,  57.56666667,
        76.16666667,  75.16666667,  40.3       ,  80.23333333,
        69.8       ,  56.2       ,  79.26666667,  81.1       ,
        69.03333333,  65.93333333,  54.5       ,  52.23333333,
        42.73333333,  55.16666667,  53.66666667,  76.43333333,
        81.6       ,  51.8       ,  61.73333333,  40.7       ,
        51.43333333,  36.23333333,  42.53333333,  41.8       ,
        70.73333333,  61.33333333,  44.4       ,  70.93333333,
        45.06666667,  30.        ,  58.86666667,  66.86666667,
        45.8       ,  45.86666667,  37.5       ,  36.96666667,
        90.56666667,  46.06666667,  43.66666667,  54.46666667,
       122.7       ,  48.06666667,  66.76666667,  37.6       ,
        83.13333333,  27.36666667,  31.8       ,  51.46666667,
        30.7       ,  37.36666667,  43.13333333,  44.43333333,
        41.        ,  24.5       ,  27.4       ,  32.93333333,
        48.33333333,  55.63333333,  29.1       ,  30.4       ,
        20.73333333,  43.8       ,  28.63333333,  30.33333333,
        27.3       ,  22.9       ,  37.86666667,  27.5       ,
        27.63333333,  31.3       ,  42.23333333,  62.5       ,
        39.23333333,  46.56666667,  60.86666667,  34.06666667,
        19.63333333,  47.13333333,  24.2       ,  29.33333333,
        23.56666667,  26.33333333,  46.6       ,  17.93333333,
        15.8       ,  32.2       ,  30.66666667,  23.13333333,
        17.8       ,  17.36666667,  20.3       ,  25.43333333,
        21.9       ,  28.73333333,  20.43333333,  13.76666667,
        20.66666667,  21.56666667,  37.56666667,  35.66666667,
        31.53333333,  32.06666667,  14.86666667,  19.83333333,
        22.06666667,  15.93333333,  19.93333333,  14.26666667,
        19.9       ,  12.3       ,  17.33333333,  44.1       ,
        41.16666667,  68.33333333,  99.86666667,  45.4       ,
        49.2       ,  35.23333333,  71.03333333,  72.56666667,
        49.13333333,  35.06666667,  12.66666667,  11.7       ,
        13.56666667,  20.1       ,  14.5       ,  16.5       ,
        10.76666667,  14.06666667,  22.1       ,   7.66666667,
        15.4       ,  39.26666667,  18.36666667,  11.03333333,
        10.43333333,  11.46666667,  35.2       ,   9.36666667,
        40.        ,  14.36666667,  11.16666667,  19.03333333,
        24.96666667,  16.16666667,  12.36666667,  17.06666667,
        18.3       ,  21.8       ,  14.93333333,  12.        ,
        11.23333333,  28.43333333,  15.2       ,  10.4       ,
        10.1       ,  22.93333333,   7.83333333,  35.8       ,
        44.13333333,  48.53333333,  27.46666667,  17.46666667,
        53.36666667,  47.76666667,  34.9       ,  46.96666667,
        43.43333333,  22.53333333,  21.73333333,  20.16666667,
        21.3       ,  20.83333333,   1.26666667,  30.5       ,
        11.76666667,  19.66666667,   8.5       ,  12.46666667,
         1.83333333,  38.86666667,  15.46666667,  10.26666667,
        13.86666667,  14.23333333,  27.73333333,  20.46666667,
         9.13333333,   9.73333333,  12.56666667,   6.46666667,
        11.5       ,   9.3       ,  14.16666667,  13.96666667,
        10.73333333,  14.53333333,  14.73333333,  32.56666667,
        13.46666667,  20.        ,  23.83333333,  25.7       ,
        28.03333333,  17.63333333,  23.26666667,  17.96666667,
        16.06666667,  24.06666667,  18.7       ,  24.53333333,
        18.16666667,  24.43333333,  22.7       ,  16.93333333,
        36.1       ,  45.66666667,  36.76666667,  18.53333333,
        42.63333333,  42.13333333,  23.93333333,  40.13333333,
        36.06666667,  27.23333333,  17.56666667,  41.76666667,
        43.83333333,  42.96666667,  34.63333333,  41.7       ,
        31.86666667,  23.5       ,  37.26666667,  28.4       ,
        23.03333333,  23.73333333,  52.96666667,  37.96666667,
        61.5       ,  31.66666667,  48.93333333,  41.53333333,
        52.46666667,  37.7       ,  40.46666667,  42.56666667,
        40.23333333,  54.53333333,  40.86666667,  43.03333333,
        27.6       ,  37.4       ,  65.63333333,  41.63333333,
        40.53333333,  59.2       ,  21.13333333,  46.26666667,
        45.13333333,  86.2       ,  24.63333333,  38.16666667,
        29.7       ,  74.46666667,  24.1       ,  54.8       ,
       101.7666667 ,  39.83333333,  18.96666667,  37.        ,
        78.26666667,  34.93333333,  38.5       ,  63.4       ,
        15.03333333,  33.23333333,  55.43333333, 128.3666667 ,
        55.96666667, 179.6666667 , 218.9333333 , 276.6333333 ,
       145.4666667 , 303.1666667 , 316.6       , 288.8       ,
        34.96666667,  39.16666667,  44.03333333, 117.1666667 ,
        51.63333333,  52.3       ,  39.66666667,  50.23333333,
        34.23333333,  43.46666667,  42.76666667,  51.73333333,
        51.53333333,  48.26666667,  46.43333333,  47.63333333,
        45.73333333,  56.        ,  60.2       ,  52.66666667,
        57.86666667,  56.56666667,  69.73333333,  57.66666667,
        58.03333333,  67.93333333,  57.03333333,  59.93333333,
        56.76666667,  66.16666667,  56.43333333,  60.16666667,
        63.9       ,  55.86666667,  61.06666667,  81.73333333,
        52.63333333,  57.26666667,  53.23333333,  47.3       ,
        63.1       ,  65.3       ,  43.96666667,  45.26666667,
        30.06666667,  21.43333333,  44.2       ,  46.9       ,
        59.46666667,  36.9       ,  51.06666667,  50.1       ,
        30.36666667,  34.4       ,  53.76666667,  36.46666667,
        18.4       ,  22.26666667,  26.83333333,  21.96666667,
        10.96666667,  17.86666667,  62.03333333,  21.36666667,
        16.23333333,  56.6       ,   5.63333333,  21.7       ,
        13.26666667,  10.5       ,  12.63333333,   9.16666667,
        13.73333333,   7.36666667,   2.36666667,  20.8       ,
        12.26666667,  16.3       ,  15.76666667,  22.8       ,
        22.86666667,   7.33333333,  14.66666667,   6.6       ,
        10.86666667,  11.13333333,  18.63333333,  17.16666667,
        15.63333333,  16.66666667, 246.9666667 , 325.7333333 ,
       360.3333333 ,  45.7       ,  31.5       ,  37.93333333,
        38.93333333,  26.7       ,  28.36666667,  38.23333333,
        24.13333333, 131.6666667 ,  16.83333333, 180.7333333 ,
        41.66666667,  21.1       ,  26.56666667, 115.6       ,
        20.5       ,  20.6       ,  26.23333333,  24.36666667,
       197.6666667 , 284.1333333 , 232.1333333 , 216.3666667 ,
       298.6       , 220.3       , 154.7666667 , 152.5666667 ,
       235.8       , 112.9       , 217.2       , 333.2       ,
       185.6333333 , 232.7       , 110.0666667 ])

In [22]:
df.corr()

,Unnamed: 0,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,flood,Avg_june10days,maytojune
Unnamed: 0,1.000000,-0.211900,-0.332645,-0.407089,-0.461584,-0.468446,-0.301185,-0.234658,-0.321974,-0.490204,...,0.295335,0.219955,-0.362762,-0.289997,-0.487146,-0.332464,0.151645,-0.619659,-0.301185,-0.016076
JAN,-0.211900,1.000000,0.868628,0.688776,0.343254,0.154175,-0.030926,-0.007617,0.027202,0.014375,...,0.114688,0.417925,0.163069,0.956722,0.342612,-0.003460,0.138793,0.242744,-0.030926,-0.147144
FEB,-0.332645,0.868628,1.000000,0.899637,0.633236,0.394301,0.194324,0.141263,0.153355,0.211977,...,0.099818,0.297311,0.381363,0.975217,0.610682,0.181203,0.197984,0.222217,0.194324,-0.013801
MAR,-0.407089,0.688776,0.899637,1.000000,0.838087,0.609177,0.362265,0.204693,0.171421,0.337046,...,0.109066,0.226834,0.510856,0.835958,0.813439,0.280189,0.262642,0.145902,0.362265,0.054329
APR,-0.461584,0.343254,0.633236,0.838087,1.000000,0.885394,0.630982,0.388887,0.299930,0.550991,...,0.204731,0.157686,0.722081,0.525200,0.978128,0.494013,0.411320,0.015696,0.630982,0.216477
MAY,-0.468446,0.154175,0.394301,0.609177,0.885394,1.000000,0.785813,0.520490,0.427825,0.690867,...,0.253589,0.123735,0.826231,0.300433,0.951078,0.641871,0.483174,0.053736,0.785813,0.348492
JUN,-0.301185,-0.030926,0.194324,0.362265,0.630982,0.785813,1.000000,0.880365,0.758769,0.805113,...,0.127333,-0.049641,0.948150,0.100323,0.700861,0.933746,0.358595,0.078654,1.000000,0.845923
JUL,-0.234658,-0.007617,0.141263,0.204693,0.388887,0.520490,0.880365,1.000000,0.930407,0.776188,...,-0.058499,-0.167302,0.872591,0.079567,0.446976,0.975505,0.127013,0.140606,0.880365,0.878495
AUG,-0.321974,0.027202,0.153355,0.171421,0.299930,0.427825,0.758769,0.930407,1.000000,0.795095,...,-0.134928,-0.207788,0.804021,0.102217,0.361462,0.932928,0.036091,0.199875,0.758769,0.759507
SEP,-0.490204,0.014375,0.211977,0.337046,0.550991,0.690867,0.805113,0.776188,0.795095,1.000000,...,0.035335,-0.077087,0.870953,0.130920,0.618872,0.875960,0.275773,0.112263,0.805113,0.615821
OCT,-0.028558,0.002580,0.184534,0.336384,0.586121,0.704970,0.633108,0.371574,0.269149,0.553410,...,0.707371,0.456134,0.686947,0.109535,0.637905,0.481505,0.885581,-0.177987,0.633108,0.388841
NOV,0.295335,0.114688,0.099818,0.109066,0.204731,0.253589,0.127333,-0.058499,-0.134928,0.035335,...,1.000000,0.883429,0.225908,0.109840,0.224876,-0.007930,0.948733,-0.325571,0.127333,0.014403
DEC,0.219955,0.417925,0.297311,0.226834,0.157686,0.123735,-0.049641,-0.167302,-0.207788,-0.077087,...,0.883429,1.000000,0.102116,0.361244,0.166068,-0.136980,0.801381,-0.219892,-0.049641,-0.137562
ANNUAL,-0.362762,0.163069,0.381363,0.510856,0.722081,0.826231,0.948150,0.872591,0.804021,0.870953,...,0.225908,0.102116,1.000000,0.296805,0.784244,0.936238,0.458319,0.087597,0.948150,0.735697
Jan-Feb,-0.289997,0.956722,0.975217,0.835958,0.525200,0.300433,0.100323,0.079567,0.102217,0.130920,...,0.109840,0.361244,0.296805,1.000000,0.511667,0.104882,0.178260,0.238913,0.100323,-0.073813
Mar-May,-0.487146,0.342612,0.610682,0.813439,0.978128,0.951078,0.700861,0.446976,0.361462,0.618872,...,0.224876,0.166068,0.784244,0.511667,1.000000,0.561963,0.447262,0.064517,0.700861,0.266938
Jun-Sep,-0.332464,-0.003460,0.181203,0.280189,0.494013,0.641871,0.933746,0.975505,0.932928,0.875960,...,-0.007930,-0.136980,0.936238,0.104882,0.561963,1.000000,0.209174,0.140312,0.933746,0.855118
Oct-Dec,0.151645,0.138793,0.197984,0.262642,0.411320,0.483174,0.358595,0.127013,0.036091,0.275773,...,0.948733,0.801381,0.458319,0.178260,0.447262,0.209174,1.000000,-0.267669,0.358595,0.171296
flood,-0.619659,0.242744,0.222217,0.145902,0.015696,0.053736,0.078654,0.140606,0.199875,0.112263,...,-0.325571,-0.219892,0.087597,0.238913,0.064517,0.140312,-0.267669,1.000000,0.078654,0.055310
Avg_june10days,-0.301185,-0.030926,0.194324,0.362265,0.630982,0.785813,1.000000,0.880365,0.758769,0.805113,...,0.127333,-0.049641,0.948150,0.100323,0.700861,0.933746,0.358595,0.078654,1.000000,0.845923
maytojune,-0.016076,-0.147144,-0.013801,0.054329,0.216477,0.348492,0.845923,0.878495,0.759507,0.615821,...,0.014403,-0.137562,0.735697,-0.073813,0.266938,0.855118,0.171296,0.055310,0.845923,1.000000