In [30]:
import os
import pytest
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('demo.csv')

In [12]:
data.head()

,Unnamed: 0,STATE_UT_NAME,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,flood,Avg_june10days,maytojune
0,0,ANDAMAN And NICOBAR ISLANDS,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,...,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1,0,98.500000,63.0
1,1,ANDAMAN And NICOBAR ISLANDS,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,...,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3,0,152.400000,82.8
2,2,ANDAMAN And NICOBAR ISLANDS,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,...,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7,0,167.766667,159.7
3,3,ARUNACHAL PRADESH,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,...,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0,0,149.000000,140.6
4,4,ARUNACHAL PRADESH,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,...,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1,1,246.100000,415.3

In [13]:
data.columns

Index(['Unnamed: 0', 'STATE_UT_NAME', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
       'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb',
       'Mar-May', 'Jun-Sep', 'Oct-Dec', 'flood', 'Avg_june10days',
       'maytojune'],
      dtype='object')

In [55]:
def test_data_columns():
    data = pd.read_csv('demo.csv')
    assert all(data.columns == ['Unnamed: 0', 'STATE_UT_NAME', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
       'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb',
       'Mar-May', 'Jun-Sep', 'Oct-Dec', 'flood', 'Avg_june10days',
       'maytojune'])
            assert isinstance (data.index, pd.Datetimeindex)

In [56]:
test_data_columns()

In [59]:
def test_data_missingcolumns():
    data = pd.read_csv('demo.csv')
    assert all(data.columns == ['Unnamed: 0', 'STATE_UT_NAME', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
       'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb',
       'Mar-May', 'Jun-Sep', 'Oct-Dec', 'flood', 'Avg_june10days',
       'maytojune'])

In [60]:
test_data_missingcolumns()

In [ ]:
 def test_